.container {
  background-image: linear-gradient(138deg, #31BBF3 11%, #4D7FFF 98%);
  display: flex;
}

.patient-card {
  background: #FFFFFF;
  border: 0 solid #EAEAEA;
  box-shadow: 0 11px 11px -10px rgba(137,127,127,0.53);
  border-radius: 12px;
  background: #FFFFFF;
}

.asdf {
  background-image: linear-gradient(133deg, #31BBF3 10%, #4D7FFF 98%);
box-shadow: 0 2px 4px 0 #CDD3DB;
border-radius: 0 0 10px 10px;
}


.hexagon {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
/* } 

.hexagon2 { */
  width: 200px;
  height: 400px;
  margin: -80px 0 0 20px;
}
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  }
  
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(http://placekitten.com/240/240);
  visibility: visible;
  transform: rotate(-60deg);
  }


